<div class="container" id="loginContainer">
  <div class="col-sm-4" style="margin-bottom: 50px;">
    <h1>Login</h1>
    <form id="signin">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" id="signinUsername" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" id="signinPassword" />
      </div>
      <div class="form-group" id="signinNewPasswordGroup">
        <label>NewPassword</label>
        <input class="form-control" type="password" id="signinNewPassword" />
      </div>
      <div class="row" id="signinMessage"></div>
      <button id="loginButton" type="submit" class="btn btn-default">Login</button>
      <button id="updatePasswordButton" type="submit" class="btn btn-default">UpdatePassword</button>
    </form>
    <div class="span12" style="text-align:center">
       <br>
       <a class=".text-center" href="#" onclick="forgotPassword()">Forgot password&#63;</a>
    </div>
    <br>
  </div>
</div>
