<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Simple Authentication App</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" >
          <li class="active" ><a [routerLink]="['/basic']">Basic Data</a></li>
          <li><a [routerLink]="['/login']">Sensitive Data</a></li>
          <li><a href="#" onclick="regsiterUser()">New User</a></li>
          <li><a href="#" onclick="changePassword()">Change Password</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="login"></li>
          <li id="user"></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Router Outlet -->
<router-outlet></router-outlet>

<div>
  <button (click)="changeName('C&lsquo;est toi Ta Chatte')">
    Change name
  </button>
  <h2 class="display-2">Hello {{name}}</h2>

  <div class="container" id="testFormContainer">
    <div class="col-sm-4" style="margin-bottom: 50px;">
      <h1>Great Form</h1>
      <form id="testForm">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" id="fpUserName" />
        </div>
        <button type="button" class="btn btn-default" (click)="changeName('Tralala')">Test button</button>
      </form>
  </div>

</div>
